



.app-system-prompt-confirmation-message {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  & > span.prompt-message {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2px auto;
    text-align: center;
    white-space: pre-wrap;
  }
}