
@import "@/assets/scss/_variables.scss";
@import "@/assets/scss/_mixins.scss";

.system-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: nowrap;
  width: 100vw;
  height: 53px;
  min-height: 53px;
  max-height: 53px;
  padding: 0;
  margin: 0;
  background-color: var(--c-white);
  opacity: .2;
  z-index: 10;
  transition: all .3s ease-in-out;
  @include default-box-shadow();

  &:hover {
    opacity: .7;
  }

  .message-txt {
    position: relative;
    display: flex;
    flex-flow: nowrap;
    margin: auto;
    line-height: 14px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }
}