
:root {

  .border { border: 1px solid #fff0; }
  .border-top { border-top: 1px solid #fff0; border-bottom: none !important; border-left: none !important; border-right: none !important; }
  .border-bottom { border-bottom: 1px solid #fff0; border-top: none !important; border-left: none !important; border-right: none !important; }
  .border-left { border-left: 1px solid #fff0; border-top: none !important; border-bottom: none !important; border-right: none !important; }
  .border-right { border-right: 1px solid #fff0; border-top: none !important; border-bottom: none !important; border-left: none !important; }
  .border-vertical { @extend .border-top; @extend .border-bottom; }
  .border-horizontal { @extend .border-left; @extend .border-right; }

  .border-color-grey-10 { border-color: var(--app-grey-10); }
  .border-color-grey-20 { border-color: var(--app-grey-20); }
  .border-color-grey-30 { border-color: var(--app-grey-30); }
  .border-color-grey-40 { border-color: var(--app-grey-40); }
  .border-color-grey-50 { border-color: var(--app-grey-50); }
  .border-color-grey-60 { border-color: var(--app-grey-60); }
  .border-color-grey-70 { border-color: var(--app-grey-70); }
  .border-color-grey-80 { border-color: var(--app-grey-80); }
  .border-color-grey-90 { border-color: var(--app-grey-90); }
  .border-color-grey { border-color: var(--app-grey); }
  .border-color-grey-100 { border-color: var(--app-grey-100); }
  .border-color-grey-200 { border-color: var(--app-grey-200); }
  .border-color-grey-300 { border-color: var(--app-grey-300); }
  .border-color-grey-400 { border-color: var(--app-grey-400); }
  .border-color-grey-500 { border-color: var(--app-grey-500); }
  .border-color-grey-600 { border-color: var(--app-grey-600); }
  .border-color-grey-700 { border-color: var(--app-grey-700); }
  .border-color-grey-800 { border-color: var(--app-grey-800); }
  .border-color-grey-900 { border-color: var(--app-grey-900); }

  .border-color-cyan-10 { border-color: var(--app-cyan-10); }
  .border-color-cyan-20 { border-color: var(--app-cyan-20); }
  .border-color-cyan-30 { border-color: var(--app-cyan-30); }
  .border-color-cyan-40 { border-color: var(--app-cyan-40); }
  .border-color-cyan-50 { border-color: var(--app-cyan-50); }
  .border-color-cyan-60 { border-color: var(--app-cyan-60); }
  .border-color-cyan-70 { border-color: var(--app-cyan-70); }
  .border-color-cyan-80 { border-color: var(--app-cyan-80); }
  .border-color-cyan-90 { border-color: var(--app-cyan-90); }
  .border-color-cyan { border-color: var(--app-cyan); }
  .border-color-cyan-100 { border-color: var(--app-cyan-100); }
  .border-color-cyan-200 { border-color: var(--app-cyan-200); }
  .border-color-cyan-300 { border-color: var(--app-cyan-300); }
  .border-color-cyan-400 { border-color: var(--app-cyan-400); }
  .border-color-cyan-500 { border-color: var(--app-cyan-500); }
  .border-color-cyan-600 { border-color: var(--app-cyan-600); }
  .border-color-cyan-700 { border-color: var(--app-cyan-700); }
  .border-color-cyan-800 { border-color: var(--app-cyan-800); }
  .border-color-cyan-900 { border-color: var(--app-cyan-900); }

  .border-radius-1 { border-radius: 1px; }
  .border-radius-2 { border-radius: 2px; }
  .border-radius-3 { border-radius: 3px; }
  .border-radius-4 { border-radius: 4px; }
  .border-radius-6 { border-radius: 6px; }
  .border-radius-8 { border-radius: 8px; }
  .border-radius-12 { border-radius: 12px; }
  .border-radius-18 { border-radius: 18px; }
  .border-radius-20 { border-radius: 20px; }
  .border-radius-24 { border-radius: 24px; }
  .border-radius-32 { border-radius: 32px; }
  .border-radius-50 { border-radius: 50%; }

  .br-none { border-radius: 0 !important; }
  .br-top-left-none { border-top-left-radius: 0 !important; }
  .br-top-right-none { border-top-right-radius: 0 !important; }
  .br-bottom-left-none { border-bottom-left-radius: 0 !important; }
  .br-bottom-right-none { border-bottom-right-radius: 0 !important; }

}
