
@import "@/assets/scss/_variables.scss";
@import "@/assets/scss/_mixins.scss";

.app-card-message {
  position: relative;
  display: flex;
  flex-flow: nowrap;
  width: 100%;
  border-radius: 4px;

  & > .icon {
    position: relative;
    display: flex;
    flex-flow: nowrap;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    padding: 0 8px;

    & > span {
      margin: auto;
    }
  }

  & > .text {
    width: 100%;
    padding: 8px 12px;
    text-align: left;

    & > ul {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;

      & > li {
        position: relative;
        display: flex;
        flex-flow: nowrap;
        width: 100%;
        padding: 0px 0 0px 18px;

        &:before {
          content: " » ";
          position: absolute;
          top: 50%;
          left: 4px;
          transform: translateY(-50%);
        }
      }
    }
  }

  &.type-success {
    border: 1px solid var(--c-green-light);

    & > .icon {
      background-color: var(--c-green-light);

      & > span {
        color: var(--c-white);
      }
    }
  }

  &.type-error {
    border: 1px solid var(--c-red-light);

    & > .icon {
      background-color: var(--c-red-light);

      & > span {
        color: var(--c-white);
      }
    }
  }

  &.type-warning {
    border: 1px solid var(--c-orange);

    & > .icon {
      background-color: var(--c-orange);

      & > span {
        color: var(--c-white);
      }
    }
  }

  &.type-alert {
    border: 1px solid var(--c-blue-light);

    & > .icon {
      background-color: var(--c-blue-light);

      & > span {
        color: var(--c-white);
      }
    }
  }
}