



.app-loading {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  white-space: nowrap;
  opacity: 0;
  transition: all .3s ease-in-out;

  & > span {
    margin: auto 8px;
  }

  &.visible {
    opacity: 1;
  }
}