



.app-mtg-page-game-new {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  & > .player-list {
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    height: calc(100% - 48px);
    padding-top: 48px;
    overflow-y: auto;
    background-color: #0009;

    & > .header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 48px;
    }

    .player-list-item {
      position: absolute;
      display: flex;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;

      & > .img {
        position: relative;
        width: 52px;

        & > img {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 100%;
        }
      }

      & > .data {
        position: relative;
        display: flex;
        flex-direction: column;
        width: calc(100% - 52px);

        & > .name {
          position: relative;
          display: flex;
          width: 100%;
          padding: 0 8px;
        }

        & > .nickname {
          position: relative;
          display: flex;
          width: 100%;
          padding: 0 8px;
          opacity: .6;
        }
      }
    }
  }
}